<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alfa</title>
    <style>
        .container{
            margin : 0;
            padding : 0;
            width : 100%;
            background-color : #062e53;
            color: white;
            text-align : center
        }
        div{
            margin-top: 50px;
            border:solid 4px white;
            display:inline-block;
            margin-left:auto;
            margin-right:auto;
            text-align:center;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>

<body class = "container">
    <h1>ELIJA ENTRE ESTAS OPCIONES</h1>
    <a href="volume_hand_control.html">VolumeHandControl</a>
    <a href="finger_counting.html">FingerCounting</a>
    <a href="virtual_painter.html">IA Virtual Painter</a>
</body>
</html>