<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            margin : 0;
            padding : 0;
            width : 100%;
            background-color : #062e53;
            color: white;
            text-align : center
        }
        div{
            margin-top: 50px;
            border:solid 4px white;
            display:inline-block;
            margin-left:auto;
            margin-right:auto;
            text-align:center;
        }
    </style>
</head>
<body class="container">
    <h1>AI Virtual Painter</h1>
    <div>
        <img src="{{url_for('video_VirtualPainter')}}" alt="">
    </div>
</body>
</html>